.container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.legend{
    color: var(--grey-900)
}

.inputField{
    display: flex;
    flex: 1;
    align-items: center;
    gap: 16px;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid var(--grey-200);
    transition: border-color ease 0.3s, background-color ease 0.3s;

    &:hover{
        cursor: pointer;
        border-color: var(--grey-500);
        background-color: var(--grey-50);
    }

    &:has(.input:focus){
        border-color: var(--grey-500);
    }
}

.icon{
    width: 16px;
    height: 16px;
    color: var(--grey-500);
    display: flex;
}

.input{
    color: var(--grey-900);
    border: none;
    flex: 1;
    background-color: transparent;

    &::placeholder{
        color: var(--grey-500)
    }

    &:hover{
        cursor: pointer;
    }

    &:focus{
        outline: none;
    }
}


.underMessage{
    color: var(--grey-500)
}


/*error*/

.error > p:first-of-type{
    color: var(--red-500);
}

.error > label{
    border-color: var(--red-500);
}

.error > label > p{
    color: var(--red-500)
}
