.button{
    display: flex;
    justify-content: center;
    border-radius: 8px;
    padding: 16px 24px;
}

.button:hover{
    cursor: pointer;
}

.button:active{
    opacity: 0.75;
}

/*Variants*/

.primary{
    background-color: var(--purple-600);
    color: white;
    border: none;
}

.primary:hover{
    background-color: var(--purple-300);
    box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
}

.secondary{
    color: var(--purple-600);
    background-color: white;
    border: 1px solid var(--purple-600)
}

.secondary:hover{
    color: var(--purple-600);
    background-color: #EFEBFF;
    border: 1px solid var(--purple-600)
}