@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

/*Colors*/

:root{
  --white: white;
  --black: black;

  --grey-950: #1A1A1A;
  --grey-900: #333333;
  --grey-500: #737373;
  --grey-200: #D9D9D9;
  --grey-100: #EEEEEE;
  --grey-50: #FAFAFA;

  --blue-800: #0330D1;
  --blue-500: #2D68FF;

  --purple-950: #302267;
  --purple-600: #633CFF;
  --purple-300: #BEADFF;

  --red-550: #EE3939;
  --red-500: #FF3939;

  --pink-900: #8A1A50;
  --pink-400: #F4A28C;
  
  --orange-600: #EC7100;
  --orange-500: #EB4925;
}

/*Typography*/

.text-preset-1{
  font-family: "Instrument Sans";
  font-weight: bold;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0px;
}

.text-preset-2{
  font-family:  "Instrument Sans";
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0px;
}

.text-preset-3-bold{
  font-family: "Instrument Sans";
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}

.text-preset-3-semi{
  font-family: "Instrument Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}

.text-preset-3{
  font-family: "Instrument Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}

.text-preset-4{
  font-family: "Instrument Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
}

/*Defaults*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--grey-50);
}

a{
  text-decoration: none;
}

.box-1{
  background-color: red;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border-radius: 12px;
  background-color: var(--grey-50);
}
